/* Reset beberapa default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #0080ff;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 2px solid #ddd;
    border-radius: 10px;
    position: relative;
}

#biodata {
    margin-top: 20px;
    text-align: center;
}

#biodata img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 24px;
    margin: 20px 0;
    text-align: justify;
}

p {
    font-size: 16px;
    margin: 10px 0;
}

ul {
    list-style: none;
}

ul li::before {
    content: "• ";
    color: #333;
    font-size: 20px;
    margin-right: 5px;
}

/* Menambahkan shading */
main::before {
    content: "";
    background: linear-gradient(to right, transparent, #fff 40%, #fff 60%, transparent);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
