/* Reset CSS untuk menghilangkan margin dan padding default */
body, h1, h2, ul, li, p {
    margin: 0;
    padding: 0;
}

/* Style untuk header */
header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Style untuk navigasi */
nav ul {
    list-style: none;
    text-align: center;
    background-color: #333;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Style untuk gambar profil */
#gambar {
    text-align: center;
    margin: 20px;
}

#gambar img {
    max-width: 15%;
    height: auto;
    border-radius: 50%;
}

/* Style untuk NIM dan Mata Kuliah */
section {
    text-align: center;
    margin: 20px;
}

h2 {
    color: #333;
}

p {
    font-size: 18px;
    color: #777;
}
