@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');

h2 {
    text-align: center;
    background-color: rgb(0, 81, 255);
    color: white;
    padding: 20px;
}
/* Apply padding to the anchor element */
a.btn.btn-warning {
    padding: 10px 20px; /* Adjust the values as needed */
    display: inline-block; /* Make it a block-level element to control the padding */
    margin-top: 25px; /* Add margin to push the button down */
    margin-bottom: 25px; /* Add margin to push the button down */
  }
  
  a.btn.btn-danger {
    padding: 10px 20px; /* Adjust the values as needed */
    display: inline-block; /* Make it a block-level element to control the padding */
    margin-top: 25px; /* Add margin to push the button down */
    margin-bottom: 25px; /* Add margin to push the button down */
  }
  
