@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');

h2 {
    text-align: center;
    background-color: rgb(0, 81, 255);
    color: white;
    padding: 20px;
}
/* Apply padding to the anchor element */


/* Mengatur header tabel agar lebih besar */
.table thead th {
  font-size: 14px;
}

/* Mengatur seluruh tabel agar menjorok ke dalam */
.table {
   /* margin-left:5%; */
   width: 95%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 5%;

}

/* Mengatur konten sel dalam tabel agar lebih kecil */
.table td, .table th {
  font-size: 12px;
  padding: 8px 8px;
}

/* CSS untuk tombol kustom */
/* Style untuk tombol Detail */
/* Style untuk tombol Detail, Update, dan Hapus */

